// ---------- nba colors ---------- //
$NBA_blue: #1e438a;
$NBA_red: #c80f2e;
$NBA_white: #e3e3e2;
$NBA_dark: #051c2d;
$NBA_grey: #d4d7dd;
$NBA_disable: #7e7474;

// ---------- nba fonts ---------- //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$roboto_m500: 'Roboto', sans-serif;

:export {
	NBA_blue: $NBA_blue;
	NBA_red: $NBA_red;
	NBA_white: $NBA_white;
  NBA_dark: $NBA_dark;
  NBA_grey: $NBA_grey;
  roboto_m500: $roboto_m500;
  NBA_disable: $NBA_disable;
}
